.cover-div-show {
  position: absolute;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.58);
}

#edit-td {
  width: 5rem;
}

.button-container {
  display: flex;
  justify-content: center;
}
