<section class="results">

    <table class="news-items">
        <tr>
            <td>標題</td>
            <td>媒體</td>
            <td>日期</td>
        </tr>
        <tr *ngFor="let news of newsArray | paginate:{
    itemsPerPage: pageSize,
    currentPage: page,
    totalItems: count
};
let i = index">
            <td>
                <a [routerLink]="['/news', news.id]">
                    <div>
                        {{news.title}}
                    </div>
                </a>
            </td>
            <td>{{news.source}}</td>
            <td>{{news.localDate}}</td>
        </tr>
        <tr *ngFor="let i of emptyEls">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="controls">
        <pagination-controls class="control-override" previousLabel="Prev" nextLabel="Next" [responsive]="true"
            (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
</section>