<section class="table-container">
  <div [ngClass]="delete ? 'cover-div-show' : 'hidden-el'"></div>
  <app-news-table
    [edit]="true"
    [newsArray]="newsArray"
    [page]="page"
    [pageSize]="pageSize"
    [count]="count"
    [emptyEls]="emptyEls"
    [error]="error"
    (pageChangeEvent)="handlePageChange($event)"
    (showDeleteEvent)="showDelete($event)"
    (deleteEvent)="submitDelete()"
    [newsForm]="newsForm"
    [delete]="delete"
  >
    <!-- Delete all Checkbox for header row -->
    <td deleteAll id="edit-td">
      <div class="check-all">
        <label for="deleteAll">全選</label>
        <input
          type="checkbox"
          id="deleteAll"
          name="deleteAll"
          formControlName="deleteAll"
          (change)="setAll($event)"
        />
      </div>
    </td>

    <!-- Button for opening delete dialog -->
    <div deleteButton deleteButton class="button-container">
      <button
        type="button"
        class="primary box-link"
        (click)="showDelete(delete)"
      >
        刪除訊息
      </button>
    </div>

    <!-- Delete Dialog -->
    <div deleteDialog [ngClass]="delete ? 'delete-dialog-show' : 'hidden-el'">
      <h3>刪除訊息</h3>
      <span>是否刪除訊息</span>
      <div class="controls">
        <button type="button" class="box-link cancel" (click)="cancel()">
          取消
        </button>
        <button class="box-link confirm" (click)="submitDelete()">刪除</button>
      </div>
    </div>
  </app-news-table>

  <div class="error-item">
    <h1>{{ error }}</h1>
  </div>
</section>
