td:first-child {
    width: 5rem;
}

.button-container {
    display: flex;
    justify-content: center;
}

.check-all {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.checkbox {
    display: flex;
    justify-content: center;
}