::ng-deep:root {
    --span-padding: 0.5rem;
}

.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
}

.user-detail-text {
    padding: var(--span-padding);
}

.address {
    display: flex;
    align-items: baseline;
    padding: var(--span-padding);
}

.controls {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.user-edit-input {
    display: flex;
    align-items: center;
}

.user-edit-input label {
    width: 5rem;
}

.save {
    margin-right: 1rem;
}

.cancel {
    margin-left: 1rem;
}

.city-selector {
    margin: 1rem 0 1rem 0;
}

.danger-text {
    margin-left: 1rem;
    color: red
}

.edit-email-text{
    padding: 1rem 0rem 1rem 0rem;
}