<section class="user-content">
  <h1 class="common-header">會員資料</h1>

  <!-- User Details -->
  <section class="user-container" [hidden]="edit">
    <div class="common-colored-wrapper">
      <div class="user">
        <div class="user-details-text file-upload">
          <img
            class="image-user"
            [src]="
              user && user.image ? base64Image : 'assets/images/avatar.png'
            "
            width="100px"
            height="100px"
          />
        </div>

        <div class="user-details">
          <span class="user-details-text">帳號: {{ user?.account }}</span>
          <span class="user-details-text">Email: {{ user?.email }}</span>
          <span class="user-details-text">名字: {{ user?.name }}</span>
          <span class="user-details-text"
            >生日: {{ getDate(user?.birthdate) }}</span
          >
          <div class="user-details-text">
            <span class="user-details-text">地址: </span>
            <span class="user-details-text">{{ user?.city }}</span>
            <span class="user-details-text">{{ user?.district }}</span>
            <span class="user-details-text">{{ user?.street }}</span>
            <span class="user-details-text">{{ user?.alley }}巷</span>
            <span class="user-details-text">{{ user?.lane }}弄</span>
            <span class="user-details-text">{{ user?.floor }}</span>
          </div>
        </div>
      </div>
      <section class="controls">
        <button class="box-link" (click)="handleEdit()">修改</button>
      </section>
      <div class="error-item">
        <h1>{{ error }}</h1>
      </div>
    </div>
  </section>
  <!-- End user details -->

  <!-- Edit user details -->
  <section class="user-edit-container" [hidden]="!edit">
    <div class="common-colored-wrapper">
      <div *ngIf="!error" class="user">
        <form [formGroup]="applyForm" (submit)="handleSave($event)">
          <div class="form-item">
            <div class="form-input-group">
              <label>帳號: </label>
              <span class="disabled-input">{{ user?.account }}</span>
            </div>
          </div>
          <div class="form-item">
            <div class="form-input-group">
              <label>Email:</label>
              <span class="disabled-input">{{ user?.email }}</span>
            </div>
          </div>
          <div class="horizontal-divider"></div>
          <div class="form-item">
            <div class="form-input-group">
              <label for="name">名字: </label>
              <input
                class="user-detail-text user-detail-input"
                name="name"
                id="name"
                formControlName="name"
              />
            </div>
            <small
              class="danger-text"
              [ngClass]="applyForm.controls.name.valid ? 'hide-el' : 'show-el'"
              >Name does not meet requirements</small
            >
          </div>

          <div class="form-item">
            <div class="form-input-group">
              <label for="birthdate">生日: </label>
              <input
                class="user-detail-text"
                name="birthdate"
                id="birthdate"
                user-detail-input
                formControlName="birthdate"
              />
            </div>
            <small
              class="danger-text"
              [ngClass]="
                applyForm.controls.birthdate.valid ? 'hide-el' : 'show-el'
              "
              >Date format incorrect</small
            >
          </div>

          <div class="form-item address city-selector">
            <label>地址</label>
            <div role="tw-city-selector"></div>
          </div>

          <div class="form-item address">
            <div class="form-input-group">
              <label for="street">路</label>
              <input
                id="street"
                type="text"
                placeholder="路"
                formControlName="street"
              />
            </div>
            <small
              class="danger-text"
              [ngClass]="
                applyForm.controls.street.valid ? 'hide-el' : 'show-el'
              "
              >Cannot be empty</small
            >
          </div>
          <div class="form-item address">
            <div class="form-input-group">
              <label for="alley">巷</label>
              <input
                id="alley"
                type="text"
                placeholder="巷"
                formControlName="alley"
              />
            </div>
            <small
              class="danger-text"
              [ngClass]="applyForm.controls.alley.valid ? 'hide-el' : 'show-el'"
              >Cannot be empty</small
            >
          </div>
          <div class="form-item address">
            <div class="form-input-group">
              <label for="lane">弄</label>
              <input
                id="lane"
                type="text"
                placeholder="弄"
                formControlName="lane"
              />
            </div>
            <small
              class="danger-text"
              [ngClass]="applyForm.controls.lane.valid ? 'hide-el' : 'show-el'"
              >Cannot be empty</small
            >
          </div>
          <div class="form-item address">
            <div class="form-input-group">
              <label for="floor">樓</label>
              <input
                id="floor"
                type="text"
                placeholder="樓"
                formControlName="floor"
              />
            </div>
            <small
              class="danger-text"
              [ngClass]="applyForm.controls.floor.valid ? 'hide-el' : 'show-el'"
              >Cannot be empty</small
            >
          </div>

          <!-- File Upload -->
          <app-image-upload
            (newFileEvent)="onFileSelected($event)"
            [file]="file"
            [fileName]="fileName"
          />
          <!-- End File Upload -->
          <section class="controls">
            <button
              type="submit"
              class="box-link save"
              [disabled]="!applyForm.valid"
            >
              確定
            </button>
            <button
              type="button"
              class="box-link cancel"
              (click)="handleCancel()"
            >
              取消
            </button>
          </section>
          <div class="error-item">
            <h1>{{ error }}</h1>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- End Edit user details -->
</section>
