::ng-deep:root {
  --span-padding: 0.5rem;
}

.user-container {
  min-width: 25vw;
  justify-content: center;
}

.user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem 1rem 5rem;
}

.controls {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.save {
  margin-right: 1rem;
}

.cancel {
  margin-left: 1rem;
}

.danger-text {
  margin-left: 1rem;
  color: red;
}

.file-upload {
  display: flex;
}

.image-user {
  margin-top: 0.4rem;
  padding: 0.25rem;
  border-radius: var(--default-border-radius);
  border: 1px solid white;
}
