<section class="user-container">
    <h1>會員資料</h1>
    <div *ngIf="!error" class="user">
        <span class="user-detail-text">Name: {{user?.name}}</span>
        <span class=user-detail-text>ID: {{user?.id}}</span>
        <span class=user-detail-text>Email: {{user?.email}}</span>
        <span class=user-detail-text>Birthdate: {{user?.birthdate}}</span>
        <div class="address">
            <span class>地址</span>
            <span class>{{user?.city}}</span>
            <span class>{{user?.district}}</span>
            <span class>{{user?.street}}</span>
            <span class>{{user?.alley}}巷</span>
            <span class>{{user?.lane}}弄</span>
            <span class>{{user?.floor}}</span>
        </div>

    </div>
    <div class="error-item">
        <h1>{{error}}</h1>
    </div>
</section>