::ng-deep:root {
  --span-padding: 0.5rem;
}

.user-container {
  min-width: 25vw;
  justify-content: center;
}

.user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  display: flex;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details-text {
  color: var(--light-text-color);
  padding: 0.25rem 0 0.25rem;
}

.user-edit-form {
  flex-direction: row;
}

.horizontal-divider {
  width: 100%;
  height: 0.25px;
  background-color: var(--light-text-color);
  margin: 1rem 0 1rem 0;
}

.controls {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.save {
  margin-right: 1rem;
}

.cancel {
  margin-left: 1rem;
}

.danger-text {
  margin-left: 1rem;
}

.file-upload {
  display: flex;
  justify-content: center;
}

.image-user {
  margin-top: 0.4rem;
  padding: 0.25rem;
  margin-right: 1rem;
  border-radius: var(--default-border-radius);
  border: 1px solid var(--light-text-color);
}

/* General wrapper width override */
.general-colored-wrapper {
  min-width: 25vw;
}

@media (min-width: 1025px) {
  .user {
    padding: 1rem;
  }
}
