form {
  margin-top: 1rem;
}

.form-header {
  text-align: center;
  color: var(--light-text-color);
}

.form-header:hover {
  color: black;
}

.form-header-active {
  color: var(--light-text-color);
  background-color: var(--secondary-color);
}

.form-header-active:hover {
  color: var(--light-text-color);
}

.form-item {
  color: var(--light-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.form-item input {
  width: 10rem;
}

.disabled-input {
  width: 10rem;
}

.form-input-group {
  display: flex;
  justify-content: center;
}

label {
  display: inline-block;
  width: var(--label-width);
}

.city-selector {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 1rem 0;
}

::ng-deep .city-selector select {
  margin-right: 1rem;
}
