.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-spacing: 0;
  width: 90vw;
  height: 50vh;
  table-layout: fixed;
}

.table-header {
  display: flex;
  justify-content: center;
}

td:first-child {
  width: 60%;
}

td {
  height: 1.5rem;
  border: 1px solid black;
  padding: 0rem 1rem 0rem 1rem;
}

.td-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:nth-child(even) {
  background-color: var(--light-text-color);
}

tr:nth-child(odd) {
  background-color: lightgray;
}

tr:first-child {
  text-align: center;
  background-color: #686868;
  color: var(--light-text-color);
}
.controls {
  display: flex;
  justify-content: center;
}

.control-override ::ng-deep li {
  margin: 0;
  border: 1px solid lightgray;
  color: royalblue;
}

.control-override ::ng-deep .ngx-pagination a {
  color: royalblue;
}

@media (min-width: 1250px) {
  table {
    width: 50vw;
  }
}
