.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  display: flex;
}

.form-header {
  flex: 1;
  text-align: center;
}

.form-item {
  margin-bottom: 0.5rem;
}

.submit-button {
  margin-top: 1rem;
}

label {
  display: inline-block;
  width: var(--label-width);
}

.controls-wrapper {
  display: flex;
}

.controls {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-links {
  display: flex;
  flex-direction: row;
}

.control-links a {
  padding: 1rem;
}

.filler {
  flex: 1;
}
