<article>
  <section class="login" *ngIf="localStorageService.getData('auth') !== 'true'">
    <form [formGroup]="applyForm" (submit)="submitLogin()">
      <div class="form-item">
        <label for="account">帳號</label>
        <input id="account" type="text" formControlName="account" />
      </div>
      <div class="form-item">
        <label for="currentPassword">密碼</label>
        <input
          id="currentPassword"
          type="password"
          formControlName="currentPassword"
          autocomplete="on"
        />
      </div>
      <div class="form-item controls">
        <div class="control-links">
          <a [routerLink]="['/recovery']">忘記密碼？</a>
          <a [routerLink]="['/signup']">會員註冊</a>
        </div>
        <button type="submit" class="primary box-link">登入</button>
      </div>
    </form>
    <div class="error-item">
      <h1>{{ error }}</h1>
    </div>
  </section>
</article>
