<article>
  <section class="login" *ngIf="localStorageService.getData('auth') !== 'true'">
    <h1>會員登入</h1>
    <form [formGroup]="applyForm" (submit)="submitLogin()">
      <div class="form-item">
        <label for="account">帳號</label>
        <input id="account" type="text" formControlName="account" />
        <small
          class="danger-text"
          [ngClass]="applyForm.controls.account.valid ? 'hide-el' : 'show-el'"
          >Account does not meet requirements</small
        >
      </div>
      <div class="form-item">
        <label for="password">密碼</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          autocomplete="on"
        />
        <small
          class="danger-text"
          [ngClass]="applyForm.controls.password.valid ? 'hide-el' : 'show-el'"
          >Account does not meet requirements</small
        >
      </div>
      <div class="form-item controls">
        <div class="control-links">
          <a [routerLink]="['/recovery']">忘記密碼？</a>
          <a [routerLink]="['/signup']">會員註冊</a>
        </div>
        <button type="submit" class="primary box-link">登入</button>
      </div>
    </form>
    <div class="error-item">
      <h1>{{ error }}</h1>
    </div>
  </section>
</article>
