<article>

    <section class="login" *ngIf="localStorageService.getData('auth') !== 'true'">
        <form [formGroup]="applyForm" (submit)="submitLogin()">
            <div class="form-item">
                <label for="username">Username</label>
                <input id="username" type="email" formControlName="username">
            </div>
            <div class="form-item">

                <label for="currentPassword">Password</label>
                <input id="currentPassword" type="password" formControlName="currentPassword">
            </div>
            <div class="form-item">

                <button type="submit" class="primary submit-button">Login</button>
            </div>
        </form>
        <div class="error-item">
            <h1>{{error}}</h1>
        </div>
    </section>
</article>