.login {
  color: var(--light-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-types-header {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  display: flex;
  margin: 0 1rem 0 1rem;
  font-size: 0.6rem;
}

.submit-button {
  margin-top: 1rem;
}

label {
  display: inline-block;
  width: var(--label-width);
}

.controls-wrapper {
  display: flex;
}

.controls {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.filler {
  flex: 1;
}

/* Wrapper width override */

.general-colored-wrapper {
  min-width: 25vw;
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1025px) {
  .header-wrapper {
    font-size: larger;
  }
}
