.login {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-types-header {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  display: flex;
  margin: 0 1rem 0 1rem;
}

.submit-button {
  margin-top: 1rem;
}

label {
  display: inline-block;
  width: var(--label-width);
}

.controls-wrapper {
  display: flex;
}

.controls {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-links {
  display: flex;
  flex-direction: row;
}

.control-links a {
  color: white;
  padding: 1rem;
}

.filler {
  flex: 1;
}

/* Wrapper width override */

.general-colored-wrapper {
  min-width: 25vw;
}
