body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

button {
  display: block;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 1rem;
}

.nav-item {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

button.primary {
  margin: 0 0.5rem 0 0.5rem;
}

.logo {
  height: 2rem;
}

.logo-link {
  display: none;
}

.logo-mobile {
  margin-top: 1rem;
  width: 15rem;
}

.logo-link-mobile {
  width: 100%;
  text-align: center;
}

.logo-link:hover {
  background-color: transparent;
}

.toolbar {
  display: flex;
  min-width: 100vw;
  align-items: center;
  background-color: var(--toolbar-color);
  height: 4rem;
}

.navigation {
  transition: margin-left 0.4s ease-in-out;

  background-color: var(--nav-drawer-color);
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 999;
  width: var(--nav-drawer-width);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-left: calc(var(--nav-drawer-width) * -1);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--dark-text-color);
}

a:hover {
  color: var(--secondary-color-hover);
  background-color: #eee;
}

.slide-right {
  margin-left: 0;
}

.nav-drawer-control:hover {
  background-color: transparent;
}
.nav-drawer-icon {
  margin-left: 1rem;
  height: 2rem;
}

@media (min-width: 1025px) {
  .navigation {
    height: auto;
    margin-left: 0;
    background-color: transparent;
    position: relative;
    flex-direction: row;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: var(--light-text-color);
  }

  a:hover {
    color: var(--secondary-color-hover);
    background-color: #eee;
  }

  .logo-link {
    display: block;
    margin: 0 2rem 0 2rem;
  }

  .logo-link-mobile {
    display: none;
  }

  .nav-drawer-control {
    display: none;
  }

  .nav-item {
    width: auto;
  }
}
