<!--  -->
<div class="toolbar" role="banner">
  <section class="navigation">
    <a
      class="nav-item"
      [routerLink]="['/user']"
      *ngIf="this.localStorageService.getData('auth') === 'true'"
    >
      會員資料
    </a>
    <a class="nav-item" [routerLink]="['/']">會員訊息</a>
    <a
      class="nav-item"
      [routerLink]="['/signup']"
      *ngIf="this.localStorageService.getData('auth') !== 'true'"
    >
      註冊
    </a>
    <a
      class="nav-item"
      [routerLink]="['/login']"
      *ngIf="this.localStorageService.getData('auth') !== 'true'"
    >
      登入
    </a>
    <a
      class="nav-item"
      *ngIf="this.localStorageService.getData('auth') === 'true'"
      (click)="useQuickLogin()"
    >
      啟用快登
    </a>
    <a
      *ngIf="this.localStorageService.getData('auth') === 'true'"
      (click)="submitLogout()"
    >
      登出
    </a>
  </section>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
