.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  margin-top: 1rem;
}

.controls {
  display: flex;
  justify-content: center;
}

.controls button {
  margin: 1rem;
}

/* Override container width */

.general-colored-wrapper {
  min-width: 25vw;
}
