<article>
    <section class="sign-up">
        <form [formGroup]="applyForm" (submit)="submitSignup()">
            <div class="form-item">
                <label for="name">Name</label>
                <input id="name" type="text" formControlName="name">
            </div>
            <div class="form-item">
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email">
            </div>
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">
            <div class="form-item submit-button">
                <button type="submit" class="primary">Apply now</button>
            </div>
        </form>
    </section>
</article>