/* You can add global styles to this file, and also import other style files */
:root {
  --label-width: 4rem;
}

body {
  margin: 0;
  padding: 0;
}

.error-item {
  color: red;
}

.danger-text {
  margin-left: 1rem;
  color: red;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

.box-link {
  width: 6rem;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}

.box-link:hover {
  color: blue;
}
