/* You can add global styles to this file, and also import other style files */
:root {
  --label-width: 4rem;
  --default-border-radius: 0.5rem;
  --button-link-padding: 0.5rem;
  --secondary-color: royalblue;
  --light-text-color: #fdf6e3;
  --dark-text-color: #002b36;
  --secondary-color-hover: #3f5188;
  --danger-text-color: #dc322f;
  --toolbar-color: rgba(104, 100, 138, 0.6);
  --nav-drawer-color: var(--light-text-color);
  --nav-drawer-width: 20rem;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(assets/images/bg-mobile.svg);
  background-size: 100% 100%;
}

.error-item {
  text-align: center;
  color: var(--danger-text-color);
}

.danger-text {
  margin-top: 0.5rem;
  text-align: center;
  color: var(--danger-text-color);
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover:enabled {
  color: blue;
}

.box-link {
  width: 6rem;
  border-radius: var(--default-border-radius);
  background-color: var(--light-text-color);
  padding: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}

.box-link:hover:enabled {
  color: blue;
}

.text-button {
  padding: var(--button-link-padding);
  border-radius: var(--default-border-radius);
  cursor: pointer;
}

.text-button:hover {
  color: black;
  background-color: var(--light-text-color);
}

.show-el {
  visibility: visible;
}

.hide-el {
  visibility: hidden;
}

.common-header {
  color: var(--light-text-color);
  text-align: center;
}

.common-colored-wrapper {
  border-radius: var(--default-border-radius);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  padding: 1rem;
  min-width: 80vw;
}

@media (min-width: 1025px) {
  body {
    background-image: url(assets/images/bg-desktop.svg);
  }

  .common-colored-wrapper {
    min-width: 33vw;
  }
}
