<section class="table-container">
  <div class="common-colored-wrapper">
    <h1 class="common-header">新聞列表</h1>
    <div class="table-header"></div>
    <!-- Form is for editing -->
    <form [formGroup]="newsForm">
      <table class="news-items">
        <!-- Header row -->
        <tr>
          <!-- Checkobox for deleting all items if editing -->
          <ng-content select="[deleteAll]"></ng-content>
          <td>標題</td>
          <td class="news-source">媒體</td>
          <!-- Hide date if editing -->
          <td *ngIf="!edit" class="news-date">日期</td>
        </tr>
        <!-- Single row of news item -->
        <tr
          *ngFor="
            let news of newsArray
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
          <!-- Checkboxes for Editing -->
          <td *ngIf="edit">
            <div class="checkbox">
              <input
                [id]="news.id"
                [name]="news.id"
                type="checkbox"
                [formControlName]="news.id"
              />
            </div>
          </td>
          <!-- End Checkboxes -->
          <td>
            <a [routerLink]="['/news', news.id]">
              <div class="td-text">
                {{ news.title }}
              </div>
            </a>
          </td>
          <td class="news-source">{{ news.source }}</td>
          <!-- Hide date if editing -->
          <td *ngIf="!edit" class="news-date">{{ news.localDate }}</td>
        </tr>
        <!-- End news item -->

        <!-- Filler empty rows -->
        <tr *ngFor="let i of emptyEls">
          <!-- Extra empty TD for checkbox in editing mode -->
          <td *ngIf="edit"></td>
          <!-- End extra TD -->
          <td></td>
          <td class="news-source"></td>
          <td class="news-date"></td>
        </tr>
        <!-- End filler rows -->
      </table>

      <!-- Pagination Controls -->
      <div class="controls">
        <pagination-controls
          class="control-override"
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
      <!-- End pagination -->

      <!-- Delete Button for Editing -->
      <ng-content select="[deleteButton]"></ng-content>

      <!-- Delete dialog -->
      <ng-content select="[deleteDialog]"></ng-content>
    </form>
    <div class="error-item">
      <h1>{{ error }}</h1>
    </div>
  </div>
</section>
