.news-source {
  display: none;
}

.news-date {
  display: none;
}
/* Edit News Styles */

.check-all {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.checkbox {
  display: flex;
  justify-content: center;
}

.cover-div-show {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.58);
}

@media (min-width: 1025px) {
  .news-source {
    display: table-cell;
  }

  .news-date {
    display: table-cell;
  }

  /* Edit News Styles */
  .delete-dialog-show {
    width: 30vw;
  }
}
