.title-bar {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.form-item {
  margin-bottom: 0.5rem;
}

.controls {
  display: flex;
  justify-content: center;
}

.control-override ::ng-deep li {
  margin: 0;
  border: 1px solid lightgray;
  color: royalblue;
}

.control-override ::ng-deep .ngx-pagination a {
  color: royalblue;
}

.control-override ::ng-deep .ngx-pagination {
  padding: 0;
  background-color: white;
}
