<section class="table-container">
  <div class="common-colored-wrapper">
    <h1 class="common-header">新聞列表</h1>
    <div class="table-header"></div>
    <table class="news-items">
      <tr>
        <td>標題</td>
        <td class="news-source">媒體</td>
        <td class="news-date">日期</td>
      </tr>
      <tr
        *ngFor="
          let news of newsArray
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
      >
        <td>
          <a [routerLink]="['/news', news.id]">
            <div>
              {{ news.title }}
            </div>
          </a>
        </td>
        <td class="news-source">{{ news.source }}</td>
        <td class="news-date">{{ news.localDate }}</td>
      </tr>
      <tr *ngFor="let i of emptyEls">
        <td></td>
        <td class="news-source"></td>
        <td class="news-date"></td>
      </tr>
    </table>

    <div class="controls">
      <pagination-controls
        class="control-override"
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>

    <div class="error-item">
      <h1>{{ error }}</h1>
    </div>
  </div>
</section>
